@font-face {
    font-family: "Jamima";
    src: url("../fonts/Jamima/fonts/Jemima-Bold.ttf");
}
@font-face {
    font-family: "JamimaMedium";
    src: url("../fonts/Jamima/fonts/Jemima-Medium.ttf");
}
@font-face {
    font-family: "JamimaItalic";
    src: url("../fonts/Jamima/fonts/Jemima-ExtraBoldItalic.ttf")
}
@font-face {
    font-family: "Cinzel_regular";
    src: url("../fonts/Cinzel/cinzel_regular.ttf");
}
@font-face {
    font-family: "Cinzel_bold";
    src: url("../fonts/Cinzel/cinzel_bold.ttf");
}
@font-face {
    font-family: "BebasBold";
    src: url("../fonts/BebasNeue/BebasNeue\ Bold.ttf");
}
body {
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background-color: #a39f9f;
    background: url(../images/Снимок\ экрана\ 2022-10-17\ 151530.png)
    bottom no-repeat;
    background-size: cover;
    background-position: 0 30%;
}
h1 {
    color: #ffffff;
    font-size: 4rem;
    /*font-family: 'Times New Roman', Times, serif;*/
    font-family: 'BebasBold';
    margin-top: 10%;
}
.news{
    background-color: #f5f6f8;
    padding: 50px 0 32px;
}
article {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 6px 15px;
    border-bottom: 1px solid black;
}
article a {
    color: #1a1b1b;
    text-decoration: none;
}
article p {
    font-family: 'Jamima';
}
article a:hover {
    color: #14a08d;;
}
article h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
}
.article-meta {
    color: #636b6f;
    margin-bottom: 5px;
}
article img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
footer {
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
}
footer .links {
    margin-bottom: 50px;
}
footer .links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight:  600;
    letter-spacing: 1rem;
    text-decoration: none;
    text-transform: uppercase;
}
.copyright {
    color: rgb(108, 117, 125);
    font-family: 'Times New Roman', Times, serif;
}
.lgu-img {
    object-position: 0 -120px;
}
p a:link {
    color: #3a59e4
}
p a:visited {
    color:#14a08d;
    border-bottom: 2px  dashed;
}
.amazon-img {
    object-position: top;
}
article:nth-child(even) {
    background-color: #c2c7ca;
}
article:nth-child(-n+2) h2::before {
    content: "new ";
    font-family: 'JamimaItalic';
    color: red;
}